.container {
    .container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 90%;
    z-index: 0;
    padding-top: 3.5em;
    justify-content: flex-start;
    padding-bottom: 4em;
}
}

.container .session-row {
    background-color: rgb(47, 46, 46);
}

.container .session-row .session-exercise-row {
    display: flex;
    justify-content: space-between;
}

.container .session-row .session-exercise-row .set-row {
    display: flex;
}