* {
    box-sizing: border-box;
}

#root {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100dvh;
}

#root input {
  font-size: 16px;
  padding-left: 5px;
  padding-block: 5px;
}

html, body {
  margin: 0;
  overscroll-behavior: none;
  /* scrollbar-gutter: stable; */
  overscroll-behavior: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  justify-content: center;
  align-items: center;
}

button {
  border: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  border: transparent;
}

