.confirm-modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(60, 60, 60, 0.7);
    z-index: 100;
    align-items: center;
    justify-content: center;
}

* {
    outline: solid;
}

.confirm-modal .card {
    width: 15em;
    padding-block: 20px;
}

.confirm-modal .card button{
    background-color: transparent;
    border: solid;
    border-width: 1px;
}