
.search-bar {
    max-width: 300px;
    width: 90vw;
    padding: 4px;
    align-self: center;
    margin: auto;
}

.add-exercise {
    width: fit-content;
    height: 100%;
    align-self: center;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 5;
}

.container {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 400px;
    width: 90vw;
}

.exercise-row {
    height: fit-content;
}

.exercise-row button {
    height: fit-content;
    background-color: transparent;
}