
.search-bar {
    max-width: 300px;
    width: 90vw;
    padding: 4px;
    align-self: center;
    margin: auto;
}

.add-exercise-btn {
    width: fit-content;
    align-self: center;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.add-exercise-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(60, 60, 60, 0.7);
    z-index: 100;
    align-content: center;
    justify-items: center;
}

.container {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 400px;
    width: 90vw;
    z-index: 0;
    padding-bottom: 13vh;
}

.exercise-row {
    height: fit-content;
}

.exercise-row button {
    height: fit-content;
    padding-left: 10px;
    margin: 0px;
    padding: 5px;
    
    background-color: rgb(74, 72, 72);
    border-radius: 2px;
    width: 100%;
    text-align: left;
    border: transparent;
}

.exercise-row button:hover {
    border: transparent;
    outline: transparent;
}

.exercise-row button:disabled {
    border: transparent;
    outline: transparent;
    background-color: transparent;
}

.exercise-row button h4 {
    font-style: normal;
    margin: 0px;
}

.exercise-row button p {
    font-style: normal;
    font-weight: 100;
    margin: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 60vw;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
}

.form input {
    width: 90%;
    padding-inline: 4px;
    padding-block: 15px;
}

.form .confirm-add {
    background-color: rgb(65, 69, 75);
}

.form .confirm-add:disabled {
    background-color: rgb(33, 33, 34);
    color: rgb(52, 52, 52);

}