

.container {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 90vh;
    width: 90%;
    justify-self: center;
}

input {
    width: 40px;
    height: 22px;
    border: transparent;
    border-radius: 5px;
    padding-inline: 5px;
    margin: 7px;
    text-align: justify;
    background-color: rgba(72, 66, 71, 0.5);
}

.add-exercise-btn {
    background-color: rgba(47, 46, 46, 0.9);
}

.delete-modal {
    top: 0;
    left: 0;
    background-color: rgba(54, 61, 61, 0.7);
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    align-content: center;
    justify-items: center;
}

.delete-modal .card {
    max-width: 250px;
    height: fit-content;
    width: fit-content;
    background-color: #181717;
    padding: 30px;
    border-radius: 10px;
}

.delete-modal .card button{
    background-color: transparent;
    border: solid;
    border-width: 1px;
}


.exercise-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 20px;
    height: fit-content;
}

.exercise-heading button {
    width: fit-content;
    margin-block: auto;
    height: fit-content;
    background-color: transparent;
    color: rgb(211, 111, 111);
}

input:focus {
    outline: transparent;
}

.row {
    border-radius: 10px;
    margin-bottom: 10px;
    padding-block: 10px;
    width: 100%;
    background-color: rgb(47, 46, 46);
    box-shadow: 0px 0px 8px #181717;
}

.row .add-set-btn {
    background-color: transparent;
    border-radius: 10px;
    border: solid;
    font-size: 12px;
    border-width: 1px;
    width: 90%;
    border-color: rgba(10, 100, 100, 0.9);
}

.row .set-row {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    height: fit-content;
    padding: 2px;
    margin: -1px;
    justify-content: space-around;
}

.bottom-row {
    border-radius: 10px;
    margin-bottom: 10px;
    padding-block: 10px;
    width: 100%;
}


.check-btn {
    width: fit-content;
    height: 100%;
    margin-block: auto;
    background-color: transparent;
}


.header .minimize-session {
    width: fit-content;
    height: fit-content;
    margin-left: 3px;
    align-self: center;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 5;
}
.header .minimize-session:active, .header .minimize-session:focus, .header .minimize-session:hover {
    outline: none;
    border: none;
    background-color: transparent;
}

.header .timer {
    text-align: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    background-color: #484444;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}

