* {
    outline: solid;
}

.search-bar {
    max-width: 300px;
    width: 90vw;
}

.container {
    top: 0;
    left: 0;
    display: flex;
    min-height: 100vh;
    height: fit-content;
    max-width: 300px;
    width: 100vw;
}