.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
  height: 3.5em;
  width: 100%;
  align-items: center;
  background-color: rgb(44, 47, 47);
  z-index: 100;
}

.nav-link {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.continue-btn {
  display: flex;
  position: fixed;
  right: 0;
  width: fit-content;
  bottom: 3.4em;
  border-radius: 0px;
  border: transparent;
  background-color: rgb(80, 83, 78);
  align-items: center;
  text-align: center;
  justify-items: space-between;
  gap: 0.5em;
  border-top-left-radius: 10px;
  z-index: 99;
}

.continue-btn:hover {
  border: transparent;
}
