.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  align-items: center;
  background-color: rgb(44, 47, 47);
}
