.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 90%;
    z-index: 0;
    padding-top: 2.5em;
    justify-content: flex-start;
    padding-bottom: 4em;
}

.template-row {
    background-color: transparent;
}


.template-row .template-btn {
    border-radius: 10px;
    margin-bottom: 10px;
    padding-block: 10px;
    width: 100%;
    background-color: rgb(47, 46, 46);
    box-shadow: 0px 0px 8px #181717;
}

.template-row .template-btn .exercise-showcase {
    display: flex;
    flex-direction: column;
    
}

.template-row .template-btn .exercise-showcase .exercise-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px;
    padding: 0;
    
}

.template-row .template-btn .exercise-showcase .exercise-row {
    background-color: rgb(60, 58, 58);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.lbs-reps {
    margin: 0;
    padding-left: 10px;
    font-weight: 100;
    text-align: left;
}
